Implementation/src/tags/release-1.0/TITA/Infocorp.TITA.SilverlightUI/Service References/WSTitaReference/WSTita.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWPS">
        <s:complexType />
      </s:element>
      <s:element name="GetWPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWPSResult" type="tns:ArrayOfDTIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTIssue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTIssue" nillable="true" type="tns:DTIssue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTIssue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfDTAttachment" />
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfDTField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDTAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTAttachment" nillable="true" type="tns:DTAttachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDTField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTField" nillable="true" type="tns:DTField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:Types" />
          <s:element minOccurs="1" maxOccurs="1" name="Required" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Choices" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Types">
        <s:restriction base="s:string">
          <s:enumeration value="Integer" />
          <s:enumeration value="String" />
          <s:enumeration value="Choice" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Note" />
          <s:enumeration value="User" />
          <s:enumeration value="Counter" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIssues">
        <s:complexType />
      </s:element>
      <s:element name="GetIssuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssuesResult" type="tns:ArrayOfDTIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddIssue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="issue" type="tns:DTIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddIssueResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetIssueTemplate">
        <s:complexType />
      </s:element>
      <s:element name="GetIssueTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssueTemplateResult" type="tns:DTIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyIssue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="issue" type="tns:DTIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyIssueResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteIssue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteIssueResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddNewContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contract" type="tns:DTContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DTContract">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContractId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Site" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddNewContractResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contractId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContractResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangeCurrentContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="contractId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeCurrentContractResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetContracts">
        <s:complexType />
      </s:element>
      <s:element name="GetContractsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractsResult" type="tns:ArrayOfDTContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTContract">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTContract" nillable="true" type="tns:DTContract" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContractSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contractId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContractSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContractSiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contract" type="tns:DTContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyContractResponse">
        <s:complexType />
      </s:element>
      <s:element name="ApplyChanges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApplyChangesResponse">
        <s:complexType />
      </s:element>
      <s:element name="HasPendingChanges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasPendingChangesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasPendingChangesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWPSSoapIn">
    <wsdl:part name="parameters" element="tns:GetWPS" />
  </wsdl:message>
  <wsdl:message name="GetWPSSoapOut">
    <wsdl:part name="parameters" element="tns:GetWPSResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssues" />
  </wsdl:message>
  <wsdl:message name="GetIssuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="AddIssueSoapIn">
    <wsdl:part name="parameters" element="tns:AddIssue" />
  </wsdl:message>
  <wsdl:message name="AddIssueSoapOut">
    <wsdl:part name="parameters" element="tns:AddIssueResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssueTemplate" />
  </wsdl:message>
  <wsdl:message name="GetIssueTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssueTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyIssueSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyIssue" />
  </wsdl:message>
  <wsdl:message name="ModifyIssueSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyIssueResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteIssueSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteIssue" />
  </wsdl:message>
  <wsdl:message name="DeleteIssueSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteIssueResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewContractSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewContract" />
  </wsdl:message>
  <wsdl:message name="AddNewContractSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewContractResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteContractSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteContract" />
  </wsdl:message>
  <wsdl:message name="DeleteContractSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteContractResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeCurrentContractSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeCurrentContract" />
  </wsdl:message>
  <wsdl:message name="ChangeCurrentContractSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeCurrentContractResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractsSoapIn">
    <wsdl:part name="parameters" element="tns:GetContracts" />
  </wsdl:message>
  <wsdl:message name="GetContractsSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractsResponse" />
  </wsdl:message>
  <wsdl:message name="GetContractSiteSoapIn">
    <wsdl:part name="parameters" element="tns:GetContractSite" />
  </wsdl:message>
  <wsdl:message name="GetContractSiteSoapOut">
    <wsdl:part name="parameters" element="tns:GetContractSiteResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyContractSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyContract" />
  </wsdl:message>
  <wsdl:message name="ModifyContractSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyContractResponse" />
  </wsdl:message>
  <wsdl:message name="ApplyChangesSoapIn">
    <wsdl:part name="parameters" element="tns:ApplyChanges" />
  </wsdl:message>
  <wsdl:message name="ApplyChangesSoapOut">
    <wsdl:part name="parameters" element="tns:ApplyChangesResponse" />
  </wsdl:message>
  <wsdl:message name="HasPendingChangesSoapIn">
    <wsdl:part name="parameters" element="tns:HasPendingChanges" />
  </wsdl:message>
  <wsdl:message name="HasPendingChangesSoapOut">
    <wsdl:part name="parameters" element="tns:HasPendingChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="WSTitaSoap">
    <wsdl:operation name="GetWPS">
      <wsdl:input message="tns:GetWPSSoapIn" />
      <wsdl:output message="tns:GetWPSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssues">
      <wsdl:input message="tns:GetIssuesSoapIn" />
      <wsdl:output message="tns:GetIssuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddIssue">
      <wsdl:input message="tns:AddIssueSoapIn" />
      <wsdl:output message="tns:AddIssueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueTemplate">
      <wsdl:input message="tns:GetIssueTemplateSoapIn" />
      <wsdl:output message="tns:GetIssueTemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyIssue">
      <wsdl:input message="tns:ModifyIssueSoapIn" />
      <wsdl:output message="tns:ModifyIssueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteIssue">
      <wsdl:input message="tns:DeleteIssueSoapIn" />
      <wsdl:output message="tns:DeleteIssueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewContract">
      <wsdl:input message="tns:AddNewContractSoapIn" />
      <wsdl:output message="tns:AddNewContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContract">
      <wsdl:input message="tns:DeleteContractSoapIn" />
      <wsdl:output message="tns:DeleteContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCurrentContract">
      <wsdl:input message="tns:ChangeCurrentContractSoapIn" />
      <wsdl:output message="tns:ChangeCurrentContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContracts">
      <wsdl:input message="tns:GetContractsSoapIn" />
      <wsdl:output message="tns:GetContractsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContractSite">
      <wsdl:input message="tns:GetContractSiteSoapIn" />
      <wsdl:output message="tns:GetContractSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyContract">
      <wsdl:input message="tns:ModifyContractSoapIn" />
      <wsdl:output message="tns:ModifyContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApplyChanges">
      <wsdl:input message="tns:ApplyChangesSoapIn" />
      <wsdl:output message="tns:ApplyChangesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasPendingChanges">
      <wsdl:input message="tns:HasPendingChangesSoapIn" />
      <wsdl:output message="tns:HasPendingChangesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSTitaSoap" type="tns:WSTitaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWPS">
      <soap:operation soapAction="http://tempuri.org/GetWPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssues">
      <soap:operation soapAction="http://tempuri.org/GetIssues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIssue">
      <soap:operation soapAction="http://tempuri.org/AddIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueTemplate">
      <soap:operation soapAction="http://tempuri.org/GetIssueTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyIssue">
      <soap:operation soapAction="http://tempuri.org/ModifyIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteIssue">
      <soap:operation soapAction="http://tempuri.org/DeleteIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewContract">
      <soap:operation soapAction="http://tempuri.org/AddNewContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContract">
      <soap:operation soapAction="http://tempuri.org/DeleteContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCurrentContract">
      <soap:operation soapAction="http://tempuri.org/ChangeCurrentContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContracts">
      <soap:operation soapAction="http://tempuri.org/GetContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractSite">
      <soap:operation soapAction="http://tempuri.org/GetContractSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyContract">
      <soap:operation soapAction="http://tempuri.org/ModifyContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyChanges">
      <soap:operation soapAction="http://tempuri.org/ApplyChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPendingChanges">
      <soap:operation soapAction="http://tempuri.org/HasPendingChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSTitaSoap12" type="tns:WSTitaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWPS">
      <soap12:operation soapAction="http://tempuri.org/GetWPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssues">
      <soap12:operation soapAction="http://tempuri.org/GetIssues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIssue">
      <soap12:operation soapAction="http://tempuri.org/AddIssue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueTemplate">
      <soap12:operation soapAction="http://tempuri.org/GetIssueTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyIssue">
      <soap12:operation soapAction="http://tempuri.org/ModifyIssue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteIssue">
      <soap12:operation soapAction="http://tempuri.org/DeleteIssue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewContract">
      <soap12:operation soapAction="http://tempuri.org/AddNewContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContract">
      <soap12:operation soapAction="http://tempuri.org/DeleteContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCurrentContract">
      <soap12:operation soapAction="http://tempuri.org/ChangeCurrentContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContracts">
      <soap12:operation soapAction="http://tempuri.org/GetContracts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContractSite">
      <soap12:operation soapAction="http://tempuri.org/GetContractSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyContract">
      <soap12:operation soapAction="http://tempuri.org/ModifyContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyChanges">
      <soap12:operation soapAction="http://tempuri.org/ApplyChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasPendingChanges">
      <soap12:operation soapAction="http://tempuri.org/HasPendingChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTita">
    <wsdl:port name="WSTitaSoap" binding="tns:WSTitaSoap">
      <soap:address location="http://localhost:8082/WSTita.asmx" />
    </wsdl:port>
    <wsdl:port name="WSTitaSoap12" binding="tns:WSTitaSoap12">
      <soap12:address location="http://localhost:8082/WSTita.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>