Implementation/src/trunk/TITA/Infocorp.TITA.SilverlightUI/Service References/WSTitaReference/WSTita.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetIssues">
        <s:complexType />
      </s:element>
      <s:element name="GetIssuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssuesResult" type="tns:ArrayOfDTIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDTIssue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTIssue" nillable="true" type="tns:DTIssue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTIssue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfDTAttachment" />
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfDTField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDTAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTAttachment" nillable="true" type="tns:DTAttachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDTField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DTField" nillable="true" type="tns:DTField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DTField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:Types" />
          <s:element minOccurs="1" maxOccurs="1" name="Required" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Choices" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Types">
        <s:restriction base="s:string">
          <s:enumeration value="Integer" />
          <s:enumeration value="String" />
          <s:enumeration value="Choice" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Note" />
          <s:enumeration value="User" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIssuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssues" />
  </wsdl:message>
  <wsdl:message name="GetIssuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssuesResponse" />
  </wsdl:message>
  <wsdl:portType name="WSTitaSoap">
    <wsdl:operation name="GetIssues">
      <wsdl:input message="tns:GetIssuesSoapIn" />
      <wsdl:output message="tns:GetIssuesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSTitaSoap" type="tns:WSTitaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIssues">
      <soap:operation soapAction="http://tempuri.org/GetIssues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSTitaSoap12" type="tns:WSTitaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIssues">
      <soap12:operation soapAction="http://tempuri.org/GetIssues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTita">
    <wsdl:port name="WSTitaSoap" binding="tns:WSTitaSoap">
      <soap:address location="http://localhost:2574/Infocorp.TITA.SilverlightUIWeb/WSTita.asmx" />
    </wsdl:port>
    <wsdl:port name="WSTitaSoap12" binding="tns:WSTitaSoap12">
      <soap12:address location="http://localhost:2574/Infocorp.TITA.SilverlightUIWeb/WSTita.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>